<%= form_with(model: translation, local: true) do |form| %>
  <% if translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :foreign_word %>
    <%= form.text_field :foreign_word, id: :translation_foreign_word %>
  </div>

  <div class="field">
    <%= form.label :foreign_pronunciation %>
    <%= form.text_field :foreign_pronunciation, id: :translation_foreign_pronunciation %>
  </div>

  <div class="field">
    <%= form.label :word_id %>
    <%= form.text_field :word_id, id: :translation_word_id %>
  </div>

  <div class="field">
    <%= form.label :language_id %>
    <%= form.text_field :language_id, id: :translation_language_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
