<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @translation.language.name %>
</p>

<p>
  <strong>Word:</strong>
  <%= @translation.word.word %>
</p>

<p>
  <strong>Foreign Word:</strong>
  <%= @translation.foreign_word %>
</p>

<p>
  <strong>Grouping:</strong>
  <%= @translation.word.grouping %>
</p>


<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
