<%= form_with(model: language, local: true) do |form| %>
  <% if language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(language.errors.count, "error") %> prohibited this language from being saved:</h2>

      <ul>
      <% language.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :language_name %>
  </div>

  <div class="field">
    <%= form.label :language_key %>
    <%= form.text_field :language_key, id: :language_language_key %>
  </div>

  <div class="field">
    <%= form.label :tts_key %>
    <%= form.text_field :tts_key, id: :language_tts_key %>
  </div>

  <div class="field">
    <%= form.label :flag %>
    <%= form.file_field :flag, id: :language_flag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
