<p id="notice"><%= notice %></p>
<div>
  <%= link_to 'Add New Word', new_word_path %>
</div>
<br>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Image:</strong>
  <br>
  <%= image_tag @word.photo.url, width: 100 %>
</p>

<p>
  <strong>Image Link:</strong>
  <br>
  <%= @word.photo.url %>
</p>

<p>
  <strong>Grouping:</strong>
  <%= @word.grouping %>
</p>

<hr>

<p><strong>Translations</strong></p>

<table>
  <tr>
    <th>Language</th>
    <th>Word</th>
  </tr>
  <% @word.translations.includes(:language).each do |translation| %>
    <tr>
      <td><%= translation.language.name %></td>
      <td><%= translation.foreign_word %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
