<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Image:</strong>
  <br>
  <%= image_tag @word.image, width: 100 %>
</p>

<p>
  <strong>Grouping:</strong>
  <%= @word.grouping %>
</p>

<p>
  <strong>Pronunciation:</strong>
  <%= @word.pronunciation %>
</p>

<hr>

<p><strong>Translations</strong></p>

<% @word.translations.each do |translation| %>
  <table>
    <tr>
      <th>Language</th>
      <th>Word</th>
      <th>Pronunciation</th>
    </tr>
    <tr>
      <td><%= translation.language.name %></td>
      <td><%= translation.foreign_word %></td>
      <td><%= translation.foreign_pronunciation %></td>
    </tr>
  </table>
<% end %>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
